html, body {
    height: 100vh;
}

body {
    background-color: black;
}

html, button, p {
    font-size: 16px;
}

button {
    margin: 0 auto 0 20px;
    width: 100px;
    height: 30px;
    align-self: center;
}

.mainBox, .legend, .gridBox, .gridCount {
    display: flex;
}

.mainBox, .legend {
    flex-direction: column;
}

.mainBox {
    aspect-ratio: 1/1;
    margin: auto;
    background-color: white;
}

.legend {
    flex: 0 1 auto;
    text-align: center;
    align-items: center;
}

.gridBox {
    flex: 1 0 auto; 
    flex-wrap: wrap;
}